&:root {
	// Backgrounds
	--ey-background-base: #fff;
	--ey-background-base-alt: #f6f6f6;
	--ey-background-accent-1: #526ed3;
	--ey-background-accent-1-hover: #6c86e2;
	--ey-background-accent-1-pressed: #314692;
	--ey-background-accent-2: #ff7043;
	--ey-background-accent-2-hover: #ff9a94;
	--ey-background-accent-2-pressed: #e7716a;
	--ey-background-accent-opposite: #000;
	--ey-background-accent-opposite-hover: #333;
	--ey-background-accent-opposite-pressed: #808080;
	--ey-background-elevation-1: #fff;
	--ey-background-elevation-2: #fff;

	//Shapes
	--ey-button-rounded: 12px;
	--ey-button-square: 4px;
}