@import '../../styles/ey-styles.local.less';

[eyButton] {
  --ey-gap: 0.125rem;

  height: var(--ey-height-m);
  justify-content: center;
  border-radius: var(--ey-radius);
  padding: var(--ey-padding);
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;

  &[data-size='s'] {
    --ey-size: var(--ey-size-s);
    --ey-padding: var(--ey-padding-s);
    --ey-radius: var(--ey-radius-s);
    --ey-margin: var(--ey-margin-s);

    font: var(--ey-font-text-s);
  }

  &[data-size='m'] {
    --ey-size: var(--ey-size-m);
    --ey-padding: var(--ey-padding-m);
    --ey-radius: var(--ey-radius-m);
    --ey-margin: var(--ey-margin-m);

    font: var(--ey-font-text-m);
  }

  &[data-size='l'] {
    --ey-size: var(--ey-size-l);
    --ey-padding: var(--ey-padding-l);
    --ey-radius: var(--ey-radius-l);
    --ey-margin: var(--ey-margin-l);

    font: var(--ey-font-text-l);
  }

  &[data-size='xl'] {
    --ey-size: var(--ey-size-xl);
    --ey-padding: var(--ey-padding-xl);
    --ey-radius: var(--ey-radius-xl);
    --ey-margin: var(--ey-margin-xl);

    font: var(--ey-font-text-xl);
  }
  
  > img {
    margin-left: 10px;
    height: 1.5em;
    width: auto;
    color: white;
  }
}