[eyButton] {
  --ey-gap: 0.125rem;
  justify-content: center;
  border-radius: var(--ey-radius);
  padding: var(--ey-padding);
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  height: var(--ey-height);
}

[data-size='xs'][eyButton] {
  --ey-size: var(--ey-size-xs);
  --ey-padding: var(--ey-padding-xs);
  --ey-radius: var(--ey-radius-xs);
  --ey-height: var(--ey-height-xs);
  font: var(--ey-font-text-xs);
}

[data-size='s'][eyButton] {
  --ey-size: var(--ey-size-s);
  --ey-padding: var(--ey-padding-s);
  --ey-radius: var(--ey-radius-s);
  --ey-height: var(--ey-height-s);
  font: var(--ey-font-text-s);
}

[data-size='m'][eyButton] {
  --ey-size: var(--ey-size-m);
  --ey-padding: var(--ey-padding-m);
  --ey-radius: var(--ey-radius-m);
  --ey-height: var(--ey-height-m);

  font: var(--ey-font-text-m);
}

[data-size='l'][eyButton] {
  --ey-size: var(--ey-size-l);
  --ey-padding: var(--ey-padding-l);
  --ey-radius: var(--ey-radius-l);
  --ey-height: var(--ey-height-l);

  font: var(--ey-font-text-l);
}

[data-size='xl'][eyButton] {
  --ey-size: var(--ey-size-xl);
  --ey-padding: var(--ey-padding-l);
  --ey-radius: var(--ey-radius-xl);
  --ey-height: var(--ey-height-xl);

  font: var(--ey-font-text-xl);
}

[eyButton]>.icon {
  margin-left: 10px;
  height: 1.5rem;
  width: auto;
  color: white;
  order: 10;
}