.document-wrapper {
	flex-grow: 8;
}

.document-container {
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 80px;
}

.document-header {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 30px;
}

.document-desc {
	font-size: 14px;
	font-weight: lighter;
	margin-bottom: 30px;
}

code {
	border: 1px solid var(--border-color);
	padding: 5px;
	border-radius: 8px;
	transition: all ease 0.3s;
}

.usage {
	margin-bottom: 40px;
}
.usage-heading {
	margin-bottom: 15px;
}

.usage-examples {
	border: 1px solid var(--border-color);
	border-radius: 12px;
	height: auto;
}

.usage-example-header {
	border-bottom: 1px solid var(--border-color);
	min-height: 50px;
	padding:0 30px;
	display: flex;
	align-items: center;
	gap: 20px;
}

.preview {
	height: 50px;
	display: flex;
	align-items: center;
}

.preview:hover {
	border-bottom: 1px solid var(--green-main-color);
	cursor: pointer;
}

.btn-group {
	display: flex;
	gap: 10px;

}

.usage-showcase {
	padding:20px 30px;
}

.attr-example {
	margin-bottom: 20px;
	font-weight: 900;
}