.document-wrapper {
	flex-grow: 8;
}

.document-container {
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 80px;
}

.document-header {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 30px;
}

.document-desc {
	font-size: 14px;
	font-weight: lighter;
	margin-bottom: 30px;
}

code {
	border: 1px solid var(--border-color);
	padding: 5px;
	border-radius: 8px;
	transition: all ease 0.3s;
}





