<div class='document-wrapper'>
	<div class='document-container'>
		<div class='document-header'>
			Button
		</div>

		<div class="document-desc">
			<code>EyButtonModule</code> is a module with components <code>eyButton</code> , <code>eyIconButton</code> are
			components to use them with native button and a elements.
		</div>

		<div class="usage">
			<h2 class='usage-heading'>Usage</h2>
			<div class='usage-examples'>
				<div class='usage-example-header'>
					<div class='preview'>Preview</div>
					<div class='preview'>Typescript</div>
					<div class='preview'>Html</div>
					<div class='preview'>Less</div>
				</div>
				<div class="usage-showcase">
					<div class='attr-example'>
						button[eyButton]
					</div>
					<div class="btn-group">
						<button *ngFor='let button of SHOWCASE_BUTTONS' eyButton appearance="primary"
						[size]="button.size" disabled>Button</button>
					</div>
				</div>
			</div>
		</div>

		<div class="usage">
			<h2 class='usage-heading'>Modes</h2>
			<div class='usage-examples'>
				<div class='usage-example-header'>
					<div class='preview'>Preview</div>
					<div class='preview'>Typescript</div>
					<div class='preview'>Html</div>
					<div class='preview'>Less</div>
				</div>
				<div class="usage-showcase">
					<div class="btn-group">
						<button *ngFor='let button of SHOWCASE_BUTTONS' eyButton [appearance]="button.appearance"
						[size]="button.size">{{button.appearance | titlecase}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>