<div class="document-wrapper">
  <div class="document-container">
    <h1 class="showcase-h1">{{showcase_header}}</h1>
    <div class="tabs-wrapper">
      <ey-tabs (tabChange)="setActiveTab($event)" [tabs]='tabs'></ey-tabs>
    </div>

    <main class="main-info" [ngSwitch]="activeTab">
      <ng-content *ngSwitchCase="'Description and Examples'">
        <div class="document-desc">
          <code>EyButtonModule</code> is a module with components <code>eyButton</code> ,
          <code>eyIconButton</code> are components to use them with native <code>button</code> and
          <code>a</code> elements.
        </div>
        <app-usage-example *ngFor="let item of buttonsInfo" [showcaseItem]="item.data"></app-usage-example>
      </ng-content>

      <ng-content *ngSwitchCase="'Setup'">
        <!-- <div class="document-desc">
          <code>EyButtonModule</code> is a module with components <code>eyButton</code> ,
          <code>eyIconButton</code> are components to use them with native <code>button</code> and
          <code>a</code> elements.
        </div> -->
        <app-usage-example>
          <pre><code>function ()  </code></pre>
        </app-usage-example>
      </ng-content>

      <ng-content *ngSwitchCase="'API'">
        <div class="document-desc">
          <code>EyButtonModule</code> is a module with components <code>eyButton</code> ,
          <code>eyIconButton</code> are components to use them with native <code>button</code> and
          <code>a</code> elements.
        </div>
        <!-- <app-usage-example *ngFor="let item of buttonsInfo" [showcaseItem]="item.data"></app-usage-example> -->
      </ng-content>
    </main>
  </div>
</div>