.usage {
  margin-bottom: 40px;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.preview {
  height: 50px;
  display: flex;
  align-items: center;
}

.h2 {
  margin-bottom: 10px;
}
.preview:hover {
  border-bottom: 1px solid var(--green-main-color);
  cursor: pointer;
}
